body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}
.notify img {
    height: 40px;
    margin-left: 77rem;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
    cursor: pointer;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
        cursor: pointer;
    }
    .notify img {
        height: 40px;
        margin-left: 15rem;
        cursor: pointer;
    }
    .nav-links li {
        margin: 10px 0;
        text-align: center;
        cursor: pointer;
    }

    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
